
body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
padding:0;
}

.topbar{
background:#020617;
padding:20px;
font-size:24px;
}

.container{
max-width:700px;
margin:auto;
padding:30px;
}

input,select{
width:100%;
padding:10px;
margin-bottom:12px;
border-radius:6px;
border:none;
}

button{
background:#2563eb;
color:white;
padding:12px;
border:none;
border-radius:8px;
cursor:pointer;
}

.results{
margin-top:20px;
font-size:18px;
}
